<bs-tab event-key="0" class="tab-ontodia" title="Knowledge Graph">    
      [[!--> Platform:SourceGraph --]]
      [[!--> Platform:SourceDiagramBase customOntodia=0 --]]
           <ontodia id='ontodia' hide-toolbar=true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
      
     </bs-tab>
     <bs-tab event-key="1" title="Source">
        [[> Platform:SourceStatements]]
     </bs-tab>
    <bs-tab event-key="3" title="Source Graph">
        [[> Platform:SourceGraph ]]
     </bs-tab>
    
[[> "http://www.metaphacts.com/resource/LinksToOtherDatabases" eventKey='2']]