<div class='page__header-thumbnail'>
  <mp-resource-thumbnail no-image-uri='/images/default-thumbnail.png' iri='[[this]]'></mp-resource-thumbnail>
</div>
<div class='page__header-body'>
  <h1>
    <mp-label iri='[[this]]'></mp-label>
    
    <semantic-query 
         query='SELECT DISTINCT ?has_type WHERE { 
  							?? crm:P2_has_type <http://www.sealit.gr/DB/type/master> . 
                BIND (IF(EXISTS{ ?? a <http://www.cidoc-crm.org/cidoc-crm/E21_Person>} ,"(person registry)", 
                         IF(EXISTS{ ?? a <http://www.sealit.gr/ontology/sealit#Ship>},"(ship registry)", 
                            IF(EXISTS{ ?? a <http://www.cidoc-crm.org/cidoc-crm/E53_Place>},"(place registry)",
                               IF(EXISTS{ ?? a <http://www.cidoc-crm.org/cidoc-crm/E40_Legal_Body>},"(legal body registry)",
                            "")
                           )
                        )
                      )
  											as ?has_type) } LIMIT 1
                      '  
         template='{{#each bindings}}<span style="margin-left: 50px">{{has_type.value}}</span>{{/each}}'
  	>
  </semantic-query>
    
  </h1>
   <p>
    <b>URI</b>: <i>[[this]]</i>
  </p>
[[!--
  <!--Image -->
  <p>
    <b>URI</b>: <a href='[[this]]' style="font-size: 12px;" target='_blank'><i>[[this]]</i>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
  </p>

  <!--Types -->    
  <p>
    <b>Type</b>: <semantic-query query="SELECT DISTINCT ?type WHERE { ?? [[#if type]][[type]][[else]]a[[/if]] ?type }" style="display:inline;"></semantic-query>
  </p>

  <!--Description -->
  <p>
    <semantic-query query='SELECT ?description WHERE { ?? [[#if description]][[description]][[else]]rdfs:comment[[/if]] ?description } LIMIT 1' 
                    template='{{#each bindings}}<span><b>Description</b>: {{description.value}}</span>{{/each}}'>
    </semantic-query>
  </p>
  --]]
</div>