<!--<footer style="padding: 60px 85px;display: flex;align-items: center;justify-content: space-between; height: 269px; background-color: rgb(249, 250, 252);">-->
<footer class="footer rs-footer">

  <div class="w3-display-container w3-text-white footer">
               <div class="w3-row" style="height:40px;    background-color: black;">
                  <div class="w3-col text-center" style="margin-top:13px;font-size:12px;"><a target="_blank" class="conceptTerm w3-text-white footter-terms" href="Privacy?action=conditions">Terms of Use</a>
                     |
                     <a target="_blank" class="conceptTerm w3-text-white footter-terms" style="padding-left:0px!important;" href="Privacy?action=privacy">Privacy Policy</a>
                     | © 
                     <span id="year"></span> <script>$("#year").html((new Date()).getFullYear());</script><a target="_blank" class="conceptTerm w3-text-white footter-terms" style="font-size:12px;padding-left:0px!important;" href="http://www.ics.forth.gr/isl">FORTH-ICS</a></div>
               </div>
<div class="w3-row" style="background-color: white;"></div>
    
<div class="w3-row" style="background-color:white;">
  <div class="w3-col text-center" style="width:100%">
    <a target="_blank" href="http://www.sealitproject.eu/">
      <img id="project-logo-img" src="/assets/images/logos/sealit-logo-4_1.png" alt="Sealit link" title="Sealit link">
    </a>
    <a target="_blank" href="https://erc.europa.eu/" title="ERC link">
      <img alt="" id="acknowledgement-logo-img" src="/assets/images/logos/erc-logo-footer.png" title="">
    </a>
    <img alt="European logo" src="/assets/images/logos/flag_eu.jpg">
  </div>     
</div> 
    
    
<div class="w3-row" style="background-colorXX:#5B5B5B;">
	<div class="w3-col m1" style="float:right;width: 6%!important;margin-top:1px;margin-bottom: 1px;"></div>
  <div class="w3-col m4" style="float:right;margin-top:20px;"><a href="https://www.ics.forth.gr/isl/" target="_blank"><img class="img-responsive" src="https://isl.ics.forth.gr/DWPforum/formating/images/lab_footer.png"></a></div>
</div>
<div class="w3-row" style="background-colorXX:#5B5B5B;">
	<div class="w3-col m1" style="float:right;width: 6%!important;margin-top:1px;margin-bottom: 1px;"></div>
	<div class="w3-col m11" style="float:right;margin-top:10px;margin-bottom: 10px;">
		<p style="float: right;color: #D1D1D1;">Designed and developed by ISL team
    	<a target="_blank" class="w3-text-white footter-terms" href="About?topmenu=empty&amp;action=cciTeam">ISL team</a>
  	</p>
       <p class="wysiwyg-text-align-center"><strong><em>Icons made by&nbsp;</em></strong><a href="https://www.freepik.com/home"><strong><em>Freepik</em></strong></a><strong><em>&nbsp;from&nbsp;</em></strong><strong><em><a href="http://www.flaticon.com/">www.flaticon.com</a></em></strong></p> 
  </div>
  
 
</div> 
    
 
    
<div data-flex-layout="row top-stretch" class="footer__outer-flex-row"><div data-flex-self="size-x2"></div><div class="footer__links-col"></div><div class="footer__links-col"><p class="text-muted"><span class="style--secondary-font">
                    Platform by <a class="text-muted" target="_blank" href="http://researchspace.org/">ResearchSpace</a> and <a class="text-muted" target="_blank" href="http://metaphacts.com/">metaphacts</a>
                </span></p></div></div>

  </div>
</footer>