<!--<footer style="padding: 60px 85px;display: flex;align-items: center;justify-content: space-between; height: 269px; background-color: rgb(249, 250, 252);">-->
<footer class="footer rs-footer">

  <div class="w3-display-container w3-text-white footer">
               <div class="w3-row" style="height:30px;    background-colorIGNORE: black;">
                  <div class="w3-col text-center" style="margin-top:13px;font-size:12px;"><a target="_blank" class="conceptTerm w3-text-white footter-terms" href="https://isl.ics.forth.gr/FastCatTeam/help/termsOfUse.html">Terms of Use</a>
                     |
                     <a target="_blank" class="conceptTerm w3-text-white footter-terms" style="padding-left:0px!important;" href="https://isl.ics.forth.gr/FastCatTeam/help/privacyPolicy.html">Privacy Policy</a>
                     | © 
                     <span id="year"></span> <script>$("#year").html((new Date()).getFullYear());</script><a target="_blank" class="conceptTerm w3-text-white footter-terms" style="font-size:12px;padding-left:0px!important;" href="http://www.ics.forth.gr/isl">FORTH-ICS</a></div>
               </div>
<div class="w3-row" style="background-color: white;"></div>
    
<div class="w3-row" style="background-color:white;">
  <div class="w3-col text-center" style="width:100%">
    <a target="_blank" href="http://www.sealitproject.eu/">
      <img id="project-logo-img" src="/assets/images/logos/sealit-logo.jpg" alt="Sealit link" title="Sealit link">
    </a>
    <a target="_blank" href="https://erc.europa.eu/" title="ERC link">
      <img alt="" id="acknowledgement-logo-img" src="/assets/images/logos/feature_ERC_logo_text.jpg" title="">
    </a>
  <!--  <img alt="European logo" src="/assets/images/logos/flag_eu.jpg"> -->
  </div>     
</div> 
    
    
    
 <!-- Credits -->  
    
    
<div class="w3-row" style="background-colorIGNORE:#5B5B5B;">
<div class="w3-col m2" style="float:right;width: 6%!important;margin-top:1px;margin-bottom: 1px;"></div>
<div class="w3-col m11" style="width:6%;float:right;margin-top:10px;margin-bottom: 0px;margin-left:10px;margin-right:20px;">
  <p class="wysiwyg-text-align-right" style="width:200px;color: #D1D1D1;"><small>
  <strong>Icons made by</strong><br/>
  <strong><em><a href="https://www.freepik.com/home" target="_blank">Freepik</a></em></strong>
  <strong><em>&nbsp;from&nbsp;</em></strong><br/>
  <strong><em><a href="http://www.flaticon.com/" target="_blank">www.flaticon.com</a></em></strong></small>
  </p>
</div>
</div>
    
    
<div class="w3-row" style="background-colorIGNORE:#5B5B5B;">
<div class="w3-col m1" style="float:right;margin-top:20px;margin-right:20px;"><a href="https://www.ics.forth.gr/isl/" target="_blank"><img class="img-responsive" src="/assets/images/logos/Logos_ICS_ISL_CCi_White_TransparentBack.png"></a>
</div>
<div class="w3-col m11" style="float:right;margin-top:30px;margin-bottom: 5px;margin-right:20px;">
		<p style="float: right;color: #D1D1D1;">Developed by the
    	<a target="_blank" class="w3-text-white footter-terms" href="https://www.ics.forth.gr/isl/centre-cultural-informatics">CCI team</a>
  	</p>
  </div> 
</div>
    
    
    
<div data-flex-layout="row center-right" classX="footer__outer-flex-row">
  <div class="footer__links-col" style="margin-right:20px;"><p class="text-muted"><span class="style--secondary-font">
Platform by <a class="text-muted" target="_blank" href="http://researchspace.org/">ResearchSpace</a> and <a class="text-muted" target="_blank" href="http://metaphacts.com/">metaphacts</a>
    </span></p></div>
</div>

    </div>
</footer>