[[> sealit:Page_breadcrumb ]]

<style>
  #record-tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 300px);
  }
</style>

<div class="page">

  [[> Platform:DefaultResourceHeader]]
 
  <bs-tabs id='record-tabs' class='page__body-navtabs--borderless' default-active-key='summary' unmount-on-exit=true>

   <bs-tab event-key='summary' title='Summary'>
      <div data-flex-layout='row top-stretch'>
   
        <div class='table-responsive'>
          <table class='table'>
            <thead role='header'>
              <tr>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
           
        
[[!--render the next field definitions as a field-value table --]]    
        

  <mp-field-visualization
    subject='[[this]]'
    fields='[[fieldDefinitions
http://www.sealit.gr/ontology/fields/was_given_to="http://www.sealit.gr/ontology/fields/was_given_to"
http://www.sealit.gr/ontology/fields/payment_type = "http://www.sealit.gr/ontology/fields/payment_type" 
http://www.sealit.gr/ontology/fields/has_amount="http://www.sealit.gr/ontology/fields/has_amount"
http://www.sealit.gr/ontology/fields/has_timespan = "http://www.sealit.gr/ontology/fields/has_timespan"
http://www.sealit.gr/ontology/fields/service_provided_in="http://www.sealit.gr/ontology/fields/service_provided_in"

    ]]'
    template='{{> rsp:FieldBasedVisualization fields=fields }}'
  ></mp-field-visualization>

            </table>
          </div>
      </div>
     
     
      <semantic-query query='
SELECT $subject ?label WHERE { 
  ?? sealit:for_service  $subject .
  $subject rdfs:label ?label.

}'
                 template="{{> related_employment}}">

   <template id="related_employment">
   <div>
   {{#each bindings}}
<bs-panel header='About {{label.value}}' collapsible="false"> 
  <mp-field-visualization
    subject='{{subject.value}}'
    fields='[[fieldDefinitions 
http://www.sealit.gr/ontology/fields/has_timespan = "http://www.sealit.gr/ontology/fields/has_timespan"
http://www.sealit.gr/ontology/fields/has_type = "http://www.sealit.gr/ontology/fields/has_type"
http://www.sealit.gr/ontology/fields/took_place_on_or_within = "http://www.sealit.gr/ontology/fields/took_place_on_or_within"
http://www.sealit.gr/ontology/fields/end_of_service = "http://www.sealit.gr/ontology/fields/end_of_service"


http://www.sealit.gr/ontology/fields/in_the_role_of ="http://www.sealit.gr/ontology/fields/in_the_role_of"

http://www.sealit.gr/ontology/fields/employment_started_in = "http://www.sealit.gr/ontology/fields/employment_started_in"
http://www.sealit.gr/ontology/fields/employment_ended_in = "http://www.sealit.gr/ontology/fields/employment_ended_in"

http://www.sealit.gr/ontology/fields/started_at = "http://www.sealit.gr/ontology/fields/started_at"
http://www.sealit.gr/ontology/fields/ended_at = "http://www.sealit.gr/ontology/fields/ended_at"

    ]]'
    template='{{> rsp:FieldBasedVisualization fields=fields }}'
  ></mp-field-visualization>
      </bs-panel>
   {{/each}}
    </div>
   </template>
</semantic-query>
     
     
    </bs-tab>
    
    </bs-tabs>
</div>